/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/web/js/*
/web/css/*
/web/assets/**
!web/assets/**/
!web/assets/.gitkeep
/web/uploads/**
!web/uploads/**/
!web/uploads/.gitkeep
/web/media/**
!web/media/**/
!web/media/.gitkeep
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
/phpunit.xml
/web/.htaccess