Assalamualaikum,<br />

<p>Welcome to {{ app_name }}.</p>

<p>
    This is just a test email. You <b>do not need</b> to take any action or send a reply for this.
</p>


Thanks<br />
---<br />
<address>
    {{ app_name }}
</address>