<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

        {% stylesheets
        'assets/AdminLTE/bootstrap/css/bootstrap.min.css'
        'assets/font-awesome/css/font-awesome.min.css'
        'assets/AdminLTE/dist/css/AdminLTE.min.css'
        'assets/AdminLTE/dist/css/skins/skin-blue.min.css'
        'assets/AdminLTE/plugins/iCheck/square/blue.css'
        '@AppBundle/Resources/public/css/app.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="hold-transition login-page">

<div class="container">
{% block body %}

        <div class="row">
            <br>
            <br>
            <div class="well col-md-offset-1 col-md-10">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>

{% endblock %}
</div>
<!-- REQUIRED JS SCRIPTS -->
{% block javascripts %}

    {% javascripts
    'assets/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js'
    'assets/AdminLTE/bootstrap/js/bootstrap.min.js'
    'assets/AdminLTE/dist/js/app.min.js'
    'assets/AdminLTE/plugins/iCheck/icheck.min.js'
    '@AppBundle/Resources/public/js/app.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block documentReady %}
    <script>
        jQuery(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}

</body>
